@{
ViewData["Title"] = "Pocetna";
}

<section class="clean-block clean-her pocetna-slika">
    <div class="text">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
    </div>
</section>
<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info col-12">Info</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image5.jpg"></div>
            <div class="col-md-6">
                <h3>U jedinstvu je snaga!</h3>
                <div class="getting-started-info">
                    <p>Bez obzira da li želite da pomognete drugima ili da zatražite pomoć drugih, ne oklijevajte da se pridružite Solidarity zajednici i učinite svijet boljim mjestom.</p>
                </div><button class="btn btn-outline-primary btn-lg" type="button">Pridruži se</button>
            </div>
        </div>
    </div>
</section>
<section class="clean-block features">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">O Solidarity apliaciji</h2>
            <p>Detaljni opis aplikacije LOREM IPSUM</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 feature-box">
                <i class="icon-star icon"></i>
                <h4>Infographic1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="icon-pencil icon"></i>
                <h4><strong>Infographic3</strong><br></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="icon-screen-smartphone icon"></i>
                <h4><strong>Infographic2</strong><br></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="col-md-5 feature-box">
                <i class="icon-refresh icon"></i>
                <h4><strong>Infographic4</strong><br></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
        </div>
    </div>
</section>
<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">O nama</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card">
                    <img class="card-img-top w-100 d-block" src="~/img/avatars/avatar1.jpg">
                    <div class="card-body info">
                        <h4 class="card-title">Amer Hrnjić</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card">
                    <img class="card-img-top w-100 d-block" src="~/img/avatars/avatar2.jpg">
                    <div class="card-body info">
                        <h4 class="card-title">Tarik Horozović</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card">
                    <img class="card-img-top w-100 d-block" src="~/img/avatars/avatar3.jpg">
                    <div class="card-body info">
                        <h4 class="card-title">Amna Jusić</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>