@{
    ViewData["Title"] = "Iskustva";
}

<section class="clean-block clean-testimonials dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Iskustva korisnika</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card clean-testimonial-item border-0 rounded-0">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>John Smith</h3>
                        <h4 class="card-title">Founder of Something</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card clean-testimonial-item border-0 rounded-0">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>John Smith</h3>
                        <h4 class="card-title">Founder of Something</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card clean-testimonial-item border-0 rounded-0">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h3>John Smith</h3>
                        <h4 class="card-title">Founder of Something</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>